/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: rgba(0, 0, 0, 0.87);
}


/* hero background image */
.bgimage {
    height:100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('images/Background.jpg');;
    background-size:cover;
    position:relative;
    background-attachment: fixed;
 }   


/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
    
}
.hero-text {
    text-align: end;
    position: absolute ;
    top: 30%;
    left: 0%;
    transform: translate(0, -50%);
    color: white;
}



/* spacing on all sections */
/* #about, #services, #portfolio, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
} */
#contact {
    padding-bottom: 4rem;
}



.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #020080;
}
.servicesText:hover {
    border: 1px solid #130080;
}

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-code:hover,.fa-globe:hover,.fa-github:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: #cac7d6;
}
.fab {
    color: #ffffff;
}
.fab2{
    color: #ffffff;
}
.fa-leetcode{

    display:inline-block;


    mask: url('images/leetcode2.svg');
    background:#ffffff;
    
    width: 41px;
    height: 41px;
    background-size: cover;
    vertical-align:text-top;
    mask-repeat: no-repeat;
}

.fa-leetcode:hover {
    background-color: #cac7d6;
}


/* footer styling */
#footer {
    background-color: #000000;
    text-align: center;
}

.shadows{
    box-shadow: 0 .5rem 1rem rgb(0, 0, 0) !important;
}

/*
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
} 

.step00{
    opacity: 0;
    filter: blur(3px);
    transform: translate(200px, -50%);
    transition: all 1.5s;
}

.step01{
    filter: blur(0);
    transform: translate(0,-50%);
    opacity: 1;
}
*/
/* @media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
} */